
<form class="form-signin" method="post" action="/login">
  <h2>Please sign in</h2>
  <div class="form-group">
    <label for="inputEmail" class="sr-only">Username</label>
    <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
  </div>
  <input class="mt-4 btn btn-lg btn-info btn-block" type="submit" value="Sign in">
  <br>
  <p class="text-center">Not have an account? <a href="/register">Register</a></p>
</form>
